body {
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    line-height: 23px;
    margin: 0;
    padding: 0;
    background: #029ef3;
    /* text-decoration: none; */
}

#wp-form-login {
    max-width: 300px;
    width: 90%;
    background: #fdfdfd;
    border-radius: 3px;
    padding: 30px 20px 20px 20px;
    margin: 150px auto;
    text-align: center;
}

#form-login input[type="text"], 
#form-login input[type="password"], 
#form-login input[type="submit"] {
    display: block;
    cursor: pointer;
}

#form-login input[type="text"], 
#form-login input[type="password"] {
    padding: 6px 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    background: #f7f7f7;
    border: none;
}

#form-login input[type="submit"] {
    display: block;
    width: 100%;
    background: #029ef3;
    color: #fff;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

#head-form-login {
    margin-bottom: 20px;
    color: #029ef3;
}

#forgot-password {
    text-decoration: none;
    color: #029ef3;
}